<header class="header">
  <div class="header-content">
    <a href="/">
      <img ngSrc="img/logo.png" alt="Dreadful Tomato" height="54" width="274" class="header-logo">
    </a>
    <div class="header-buttons">
      <button class="header-button_login">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25"/>
        </svg>
        <span>Login</span>
      </button>
      <button class="header-button_trial"> Start your free trial</button>
    </div>
  </div>
</header>
