<div class="content">
  <div class="content-section movies">
    <a href="/movies">
      <img ngSrc="img/movies.png"
           alt="Movies" height="849" width="722" priority>
      <div class="overlay">
        <h2>Movies</h2>
        <p>Watch the latest releases</p>
      </div>
    </a>
  </div>
  <div class="content-section series">
    <a href="/series">
      <img ngSrc="img/series.png"
           alt="Series" height="849" width="722">
      <div class="overlay">
        <h2>Series</h2>
        <p>Binge-worthy TV shows</p>
      </div>
    </a>
  </div>
</div>
